## Task # 15:
- This is Task # 15 overall, But Task # 5 of Week 6
## Task # 05:

In [1]:
#importing regularly used libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the data set
fp = 'adult.csv'
adult_df = pd.read_csv(fp)

#check for columns with null values
print(adult_df.columns[adult_df.isnull().any()])

#a look at the dataset
adult_df.head(3)

Index([], dtype='object')

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

- As we can see that there are no Null values in our dataset