## Task # 08:
- This is Task 8 overall and task 2 of week 3
### Task # 02:

In [1]:
#lets import the required libraries and dataset for this task
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

# Load the iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target

# Display the first few rows of the dataset
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

Task # 2.1:
- Calculate the mean, median, and mode of the sepal lengths in the Iris dataset

In [13]:
# Mean of sepal length
mean_sepal_length = iris_df['sepal length (cm)'].mean()

# Median of sepal length
median_sepal_length = iris_df['sepal length (cm)'].median()

# Mode of sepal length
#the mode function actually returs the series of values so thats why we use [0] index
mode_sepal_length = iris_df['sepal length (cm)'].mode()[0]

print(f"Mean of Sepal Length = {mean_sepal_length:.2f}")
print(f"Median of Sepal Length = {median_sepal_length}")
print(f"Mode of Sepal Length = {mode_sepal_length}")

Mean of Sepal Length = 5.84
Median of Sepal Length = 5.8
Mode of Sepal Length = 5.0

Task # 2.2:
-  Calculate the variance and standard deviation of the petal widths in the Iris dataset.

In [14]:
# Variance of petal width
variance_petal_width = iris_df['petal width (cm)'].var()

# Standard deviation of petal width
std_dev_petal_width = iris_df['petal width (cm)'].std()

print(f"Variance of petal width = {variance_petal_width:.2f}")
print(f"Standard Deviation of petal width = {std_dev_petal_width:.2f}")

Variance of petal width = 0.58
Standard Deviation of petal width = 0.76

Task # 2.3:
- Create a summary table that includes the mean, median, variance, and standard 
deviation for all numerical features in the dataset

In [30]:
# Empty DataFrame for the summary table
summary_table = pd.DataFrame(index=['mean', 'mode', 'std', 'variance'], columns=iris_df.columns)

# Iterating over each column in the dataset
for column in iris_df.columns:
    mean_value = iris_df[column].mean()
    mode_value = iris_df[column].mode()[0]  # Access the first mode value
    std_value = iris_df[column].std()
    variance_value = iris_df[column].var()
    
    # Appending the calculated statistics to the summary table
    summary_table.loc['mean', column] = mean_value
    summary_table.loc['mode', column] = mode_value
    summary_table.loc['std', column] = std_value
    summary_table.loc['variance', column] = variance_value

summary_table.head(4)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
mean,5.843333,3.057333,3.758,1.199333,1.0
mode,5.0,3.0,1.4,0.2,0
std,0.828066,0.435866,1.765298,0.762238,0.819232
variance,0.685694,0.189979,3.116278,0.581006,0.671141

Task # 2.4:
-  Define a random variable for the sepal length and calculate the probability 
distribution of sepal lengths.